@CHARSET "UTF-8";
.ui-panel.ui-widget.ui-widget-content.ui-corner-all.noborder
{
	border:none;
}
.ui-grid.ui-grid-responsive.withMargins
{
	margin-left:10%;
	margin-right:10%;
}
tr.ui-widget-header
{
	border:none;
	background: none;
}
.ui-panelgrid.ui-panelgrid-cell
{
	border:none;
}
.ui-widget-content
{
	border:none;
}
.ui-panelgrid .ui-panelgrid-cell
{
	border:none;
	width: 50%;
}
